/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body, html {
    height: 100%;
}

.login-page-container {
    background-image: url(../images/login/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 1rem;
    overflow: scroll;
}

.list-group-item:hover {
    background-color: var(--red);
    transition: background-color 0.2s ease-in;
}

form.provider-form > .provider-row {
    margin: 0;
}
